/*body element selector*/
body {
    background-image: url('../images/Hawaii_Background2.jpg'); /*Set the background image of the body*/
    background-size: cover; /*scale the background image to cover the whole body*/
}

/*header element selector*/
header {
    background-image: url('../images/Hawaii_Background3.jpg'); /*Set the background image of the header*/
    background-position-y: -90px;  /*Position the background image so more of the bottom of the image is visible*/
    background-repeat: no-repeat; /*Do not repeat the background image*/
    background-size: cover;  /*scale the background image to cover the whole header*/
}

/*currentWordText ID selector*/
#currentWordText {
    letter-spacing: 15px; /*Set the spacing of the current word so that there is seperation between each letter*/
    word-wrap: break-word; /*Allow the current word to break within the word to that it can fit on smaller screens*/
}

/*mainSection class*/
.mainSection {
    background: rgba(233,236,239,.80); /*Change the background color and opacity*/
}

/*For small screens*/
@media screen and (max-width: 576px) {
    header {
        background-position: unset; /*remove background positioning so the image is fully displayed*/
    }
}

