header {
    background-image: url('../images/placeimg_1000_150_nature.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

section div {
    background-image: url('../images/Hawaii_Background2.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

/*fasdfasd*/
#currentWordText {
    letter-spacing: 15px;
    word-wrap: break-word;
}